<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<title>Foro Temático</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" th:href="@{/CSS/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/font-awesome.css}">

	<script th:src="@{/JS/JQuery.js}"></script>
</head>

<body class="bg-light position-relative min-h-100">

	<nav id="mainNavbar" class="navbar navbar-dark bg-primary eliminarSeleccion">

		<a class="navbar-brand btn-color-primary fx" href="/index.html">Inicio</a>

		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
			<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>

			<td>
				<aside th:if="${isLogged}==false" class="form-inline"> 
					<a href="/usuario/login.html" class="btn-color-primary ml-2 my-2 my-sm-0 fx">
						<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
					</a>
				</aside>
				<aside th:if="${isLogged}==true" class="form-inline"> 
						<label th:text="${usuarioLoged.name}" class="text-white ml-3 mr-1">Nombre Usuario</label>
						<a th:href="@{/usuario/{nombre}(nombre=${usuarioLoged.name})}" class="btn-color-primary ml-2 my-2 my-sm-0 fx">
							<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
						</a>
						<a href="/usuario/logout" class="btn-color-primary ml-2 my-2 my-sm-0 fx">
							<i class="fa fa-times fa-2x" aria-hidden="true"></i>
						</a>
				</aside>
			</td>
		</form>
	</nav>

	<td>
		<div th:if="${usuarioLoged != 'null'}" class="text-center pt-4">
			<div th:if="${usuarioLoged.tipoUsuario==1}">
				<a href="/subforo/add.html" class="btn btn-success">Agregar Subforo</a>
			</div>
		</div>
	</td>

	<article class="py-4">
		<div class="container">
			<tr th:each="subforo : ${subforoList}">
				<article id="listContainer" class="border border-primary my-1 rounded-right row" >
					<aside class="col-3 col-xs-2 col-md-1 text-center">
						<td>
							<a th:href="@{/subforo/{name}(name=${subforo.name})}" class="fx">
								<i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
							</a>
						</td>
					</aside>

					<article class="col-9 col-xs-10 col-md-11">
						<td>
							<form action="/subforo/delete" method="DELETE">
								<input type="text" name="id" th:value="${subforo.id}" style="display: none;">
								<h4 th:text="${subforo.name}" style="margin-top: 5px;">
									Titulo subforo
									<td><button type="submit" class="btn btn-danger pull-right" th:if="${usuarioLoged != 'null' && usuarioLoged.tipoUsuario==1}">Eliminar</button></td>
								</h4>
							</form>
						</td>
					</article>
				</article>
			</tr>
		</div>
	</article>


	<footer id="mainFooter" class="bg-primary font-color-primary eliminarSeleccion p-4 footer">

		<p class="m-0">
			Foro Temático - Metodología II - <a class="btn-color-primary" href="http://www.mdp.utn.edu.ar/">UTN - MDP</a>
		</p>

	</footer>

	<script src="@{/JS/Popper.js}"></script>
	<script src="@{/JS/bootstrap.js}"></script>
	<script src="@{/JS/miScript.js}"></script>

</body>
</html>