doctype html
html
	head
		link(rel='stylesheet', href='/css/styles.css')
	body
	h1= title
	p Welcome to #{title}
		div(id= 'consultationForm') Gift info
			form(action='/consultation',method='post')
			div(data-role='fieldcontain')
				label(for='ageGroup') Age Group
			div(id= ageGroupSelect, class= inputValue)
				input(type='radio',name='ageGroupRadio', value="0")
				| 10 - 15
				br
				input(type='radio',name='ageGroupRadio', value="1")
				| 16 - 20
				br
				input(type='radio',name='ageGroupRadio', value="2")
				| 21 - 35
				br
				input(type='radio',name='ageGroupRadio', value="3")
				| 36 - 50
				br
				input(type='radio',name='ageGroupRadio', value="4")
				| 51 - 70
				br
				input(type='radio',name='ageGroupRadio', value="5")
				| < 70
				br
				label(for='profession') Profession
				div(id= professionSelect, class= inputValue)
					input(type='radio',name='professionRadio', value="0")
					| Placeholder
				label(for='hobbies') Hobbies
				div(id= hobbiesSelect, class= inputValue)
					input(type='checkbox',name='hobby', value="placeholder1")
					| Placeholder 1
					input(type='checkbox',name='hobby', value="placeholder2")
					| Placeholder 2
				label(for='hobbies') Max price
				div(id= priceInput, class= inputValue)
					input(type='text',name='price')
				div(data-role='fieldcontain')
					input(type='submit', value='Make Consultation',data-transition='fade', data-theme='c')
