*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, i{
	text-decoration: none;
}

html { height: 100%; }

.min-h-100{ min-height: 100%; }

.fx {
	-webkit-transition: all 750ms ease;
	-moz-transition: all 750ms ease;
	-ms-transition: all 750ms ease;
	-o-transition: all 750ms ease;
	transition: all 750ms ease;
}

.bg-primary {
	background-color: #FFFFFF !important;
}

.font-color-primary{
	color: #fff;
}

.btn-color-primary {
	color: #fff;
}

.btn-color-primary:hover {
	color: #fff;
}

.eliminarSeleccion{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

nav#mainNavbar.bg-primary, footer#mainFooter.bg-primary {
	background-color: #29335C !important;
}

nav#mainNavbar.bg-primary a:hover {
	color: #F3A712;
}

.listStyleNone {
    list-style: none;
    padding: 0;
}

#listContainer {
	background-color: #fcf4e9;
}

#listContainer.row > aside > a:hover{
	color: #F3A712;
}

#listContainer.row > article > h4 {
	display: flex;
	align-items: center;
}

.messageContainer {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.border-top-hr {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.border-right-hr {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.border-bottom-hr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.border-left-hr {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.border-hr {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
